.maj-editing-container > .panel {
  display: none;
  background: url('../images/icons-16x16.png?1294270726') no-repeat;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.maj-editing-container > .panel .edit {
  background-position: 0px 0px;
}
.maj-editing-container > .panel a {
  width: 16px;
  height: 16px;
  display: block;
}
.maj-editing-container:Hover .panel {
  display: block;
}
.maj-editing-container > .message {
  color: green;
  font-weight: bold;
}
.maj-editing-container > .text.being-edited {
  border: 2px dashed black;
}
.maj-editing-container > .editor {
  display: none;
}
.maj-editing-container > .editor input[type=submit], .maj-editing-container > .editor input[type=reset] {
  background: url('../images/icons-16x16.png?1294270726') no-repeat;
  width: 16px;
  height: 16px;
  overflow: hidden;
  border: none;
  text-indent: -999px;
  cursor: pointer;
  outline: none;
}
.maj-editing-container > .editor input[type=submit].save, .maj-editing-container > .editor input[type=reset].save {
  background-position: -16px 0px;
}
.maj-editing-container > .editor input[type=submit].cancel, .maj-editing-container > .editor input[type=reset].cancel {
  background-position: -32px 0px;
}
