.maj-editing-container > .message {
  font-weight: bold;
}
.maj-editing-container > .message.success {
  background: url('../images/icons-16x16.png?1297036651') no-repeat;
  width: 16px;
  height: 16px;
  overflow: hidden;
  background-position: -48px 0px;
  width: auto;
  height: auto;
  color: green;
  padding: 0 0 0 21px;
}
.maj-editing-container > .message.loading {
  background: url('../images/ajax-loader.gif?1294378656');
  width: 200px;
  height: 19px;
}
.maj-editing-container > .text-wrapper {
  min-height: 70px;
}
.maj-editing-container > .text-wrapper > .text.being-edited, .maj-editing-container > .text-wrapper > .text.editable {
  border: 2px dashed black;
  padding: 0 5px;
  margin: 5px 0;
  min-height: 50px;
}
.maj-editing-container > .text-wrapper > .panel {
  display: none;
  background: url('../images/icons-16x16.png?1297036651') no-repeat;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.maj-editing-container > .text-wrapper > .panel .edit {
  background-position: 0px 0px;
}
.maj-editing-container > .text-wrapper > .panel a {
  width: 16px;
  height: 16px;
  display: block;
}
.maj-editing-container > .editor {
  display: none;
}
.maj-editing-container > .editor table.group tr {
  float: left;
}
.maj-editing-container > .editor .save, .maj-editing-container > .editor .cancel {
  background: url('../images/icons-16x16.png?1297036651') no-repeat;
  width: 16px;
  height: 16px;
  overflow: hidden;
  border: none;
  text-indent: -999px;
  cursor: pointer;
  outline: none;
}
.maj-editing-container > .editor .save[disabled], .maj-editing-container > .editor .cancel[disabled] {
  cursor: default;
}
.maj-editing-container > .editor .save {
  background-position: -16px 0px;
}
.maj-editing-container > .editor .save[disabled] {
  background-position: -16px -16px;
}
.maj-editing-container > .editor .cancel {
  background-position: -32px 0px;
}
.maj-editing-container > .editor .cancel[disabled] {
  background-position: -32px -16px;
}
