<?xml version="1.0" encoding="UTF-8"?>
<section 
    xmlns="http://docbook.org/ns/docbook" 
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:xi="http://www.w3.org/2001/XInclude" 
    xml:lang="en" xml:id="majisti.util.model.config" 
    version="5.0">
    
    <title>Config Aggregates</title>

    <para>
        Lorem ipsum dolor sit amer
    </para>
</section>
