[submodule "lib/vendor/doctrine2-orm"]
	path = lib/vendor/doctrine2-orm
	url = git://github.com/doctrine/doctrine2.git
[submodule "lib/vendor/symfony2"]
	path = lib/vendor/symfony2
	url = git://github.com/symfony/symfony.git
[submodule "lib/vendor/phpunit"]
	path = lib/vendor/phpunit
	url = git://github.com/sebastianbergmann/phpunit.git
[submodule "lib/vendor/yuicompressor"]
	path = lib/vendor/yuicompressor
	url = git://github.com/yui/yuicompressor.git
[submodule "lib/vendor/doctrine2-data-fixtures"]
	path = lib/vendor/doctrine2-data-fixtures
	url = git://github.com/doctrine/data-fixtures.git
[submodule "lib/vendor/doctrine2-dbal"]
	path = lib/vendor/doctrine2-dbal
	url = git://github.com/doctrine/dbal.git
[submodule "lib/vendor/doctrine2-common"]
	path = lib/vendor/doctrine2-common
	url = git://github.com/doctrine/common.git
[submodule "lib/vendor/doctrine2-migrations"]
	path = lib/vendor/doctrine2-migrations
	url = git://github.com/doctrine/migrations.git
[submodule "lib/vendor/doctrine2-extensions"]
	path = lib/vendor/doctrine2-extensions
	url = git://github.com/beberlei/DoctrineExtensions.git
[submodule "lib/vendor/doctrine2-extensions-gedmo"]
	path = lib/vendor/doctrine2-extensions-gedmo
	url = git://github.com/l3pp4rd/DoctrineExtensions.git
[submodule "lib/vendor/zend"]
	path = lib/vendor/zend
	url = git://github.com/mridgway/Zend-Framework-1.x-Mirror.git
[submodule "lib/vendor/majisti-extensions/srosato/Editing"]
	path = lib/vendor/majisti-extensions/srosato/Editing
	url = git://github.com/srosato/majisti-extension-srosato-editing.git
