<?xml version="1.0" encoding="UTF-8"?>

<configdata>
	<properties>
		<property name="baseUrl" data="/Majisti_Project_Template/public" />
		<property name="tables_prefix" data="prefix_" />
	</properties>
	
    <development>
    	<links>
    		<site value="${baseUrl}" />
    	</links>
    	
    	<projectName value="Majisti_Template" />
    	
    	<baseUrl value="${baseUrl}" />
    	
        <database use="1">
            <params>
               	<host>ratius.no-ip.com</host>
                <username>ebb</username>
                <password>ebb2008#</password>
                <dbname>ebbcbppq_ebb</dbname>
            </params>
            <tables>
            	<users>${tables_prefix}users</users>
            	<content>${tables_prefix}content</content>
            </tables>
        </database>
        
        <i18n>
        	<default abbreviate="fr" full="Français" />
        </i18n>
        
        <session value="Majisti_Project_Template" />
        
    </development>
    
    <production extends="development">
        <database>
            <params>
                <host>ratius.no-ip.com</host>
                <username>ebb</username>
                <password>ebb2008#</password>
                <dbname>mysql</dbname>
            </params>
        </database>
        
        <debug>
    		<logical value="0" />
    		<output value="0" />
    		<error_reporting value="0" />
    	</debug>
    	
    	<ini_set>
    		<display_startup_errors value="0" />
    		<display_errors value="0" />
    	</ini_set>
    </production>
</configdata>