body { background-color: black; }

.logo {
	background: url('../images/thumbnail.jpg') no-repeat;
	width:  535px;
	height: 303px;
	margin: 0 auto 0 auto;
}

.construction {
	color: white;
	font-size: 140%;
	text-align: center;
}