@CHARSET "ISO-8859-1";

/***** GENERIC *******/

/** HEADERS **/
h1 {font-size: 200%;padding: 0px; margin: 0px;}
h2 {font-size: 185%;padding: 0px; margin: 0px;}
h3 {font-size: 160%;padding: 0px; margin: 0px;}
h4 {font-size: 145%;padding: 0px; margin: 0px;}
h5 {font-size: 130%;padding: 0px; margin: 0px;}
h6 {font-size: 120%;padding: 0px; margin: 0px;}
h7 {font-size: 110%;padding: 0px; margin: 0px;}

/* Images */
img {border: none;padding: 0px; margin: 0px;}

/* Hyperlinks */
a {color: #006699; font-weight:bold; text-decoration: none;}
a:hover {color: #FF9900; text-decoration: underline;}

/**************************** CLASSES ******************************/
/* Palette */
.red {color: red;}
.green {color: green;}
.blue {color: blue;}
.brown {color:#663333;}
.black {color: black;}
.pink {color: #CC3366;}
.orange {color: #CC6633;}
.aqua {color: aqua;}
.fuchsia {color: fuchsia;}
.gray {color: gray;}
.lime {color: lime;}
.maroon {color: maroon;}
.navy {color: navy;}
.olive {color: olive;}
.purple {color: purple;}
.silver {color: silver;}
.teal {color: teal;}
.white {color: white;}
.yellow {color: yellow;}
.color_inherit {color: inherit;}

/* Font sizes */
.xx_small {font-size: xx-small;}
.x_small {font-size: x-small;}
.small {font-size: small;}
.smaller {font-size: smaller;}
.medium {font-size: medium;}
.large {font-size: large;}
.larger {font-size: larger;}
.font_inherit {font-size: inherit;}

/* Floating */
.float_left, .float-left {float: left;}
.float_right, .float-right {float: right;}
.clear_left, .clear-left {clear: left;}
.clear_right, .clear-right {clear: right;}
.clear_both, .clear-both {clear: both;}
.float_none, .float-none {float: none;}

/* Widths and Heights */
.width0 {width: 0px;}
.width10 {width: 10px;}
.width20 {width: 20px;}
.width30 {width: 30px;}
.width40 {width: 40px;}
.width50 {width: 50px;}
.width60 {width: 60px;}
.width70 {width: 70px;}
.width80 {width: 80px;}
.width90 {width: 90px;}
.width100 {width: 100px;}
.width110 {width: 110px;}
.width120 {width: 120px;}
.width130 {width: 130px;}
.width140 {width: 140px;}
.width150 {width: 150px;}
.width160 {width: 160px;}
.width170 {width: 170px;}
.width180 {width: 180px;}
.width190 {width: 190px;}
.width200 {width: 200px;}
.width210 {width: 210px;}
.width220 {width: 220px;}
.width230 {width: 230px;}
.width240 {width: 240px;}
.width250 {width: 250px;}
.width260 {width: 260px;}
.width270 {width: 270px;}
.width280 {width: 280px;}
.width290 {width: 290px;}
.width300 {width: 300px;}
.width310 {width: 310px;}
.width320 {width: 320px;}
.width330 {width: 330px;}
.width340 {width: 340px;}
.width350 {width: 350px;}
.width360 {width: 360px;}
.width370 {width: 370px;}
.width380 {width: 380px;}
.width390 {width: 390px;}
.width400 {width: 400px;}
.width410 {width: 410px;}
.width420 {width: 420px;}
.width430 {width: 430px;}
.width440 {width: 440px;}
.width450 {width: 450px;}
.width460 {width: 460px;}
.width470 {width: 470px;}
.width480 {width: 480px;}
.width490 {width: 490px;}
.width500 {width: 500px;}
.width510 {width: 510px;}
.width520 {width: 520px;}
.width530 {width: 530px;}
.width540 {width: 540px;}
.width550 {width: 550px;}
.width560 {width: 560px;}
.width570 {width: 570px;}
.width580 {width: 580px;}
.width590 {width: 590px;}
.width600 {width: 600px;}
.width610 {width: 610px;}
.width620 {width: 620px;}
.width630 {width: 630px;}
.width640 {width: 640px;}
.width650 {width: 650px;}
.width660 {width: 660px;}
.width670 {width: 670px;}
.width680 {width: 680px;}
.width690 {width: 690px;}
.width700 {width: 700px;}
.width710 {width: 710px;}
.width720 {width: 720px;}
.width730 {width: 730px;}
.width740 {width: 740px;}
.width750 {width: 750px;}
.width760 {width: 760px;}
.width770 {width: 770px;}
.width780 {width: 780px;}
.width790 {width: 790px;}
.width800 {width: 800px;}
.width810 {width: 810px;}
.width820 {width: 820px;}
.width830 {width: 830px;}
.width840 {width: 840px;}
.width850 {width: 850px;}
.width860 {width: 860px;}
.width870 {width: 870px;}
.width880 {width: 880px;}
.width890 {width: 890px;}
.width900 {width: 900px;}
.width910 {width: 910px;}
.width920 {width: 920px;}
.width930 {width: 930px;}
.width940 {width: 940px;}
.width950 {width: 950px;}
.width960 {width: 960px;}
.width970 {width: 970px;}
.width980 {width: 980px;}
.width990 {width: 990px;}
.width1000 {width: 1000px;}
.width1010 {width: 1010px;}
.width1020 {width: 1020px;}
.width1030 {width: 1030px;}
.width1040 {width: 1040px;}
.width1050 {width: 1050px;}
.width1060 {width: 1060px;}
.width1070 {width: 1070px;}
.width1080 {width: 1080px;}
.width1090 {width: 1090px;}
.width1100 {width: 1100px;}
.width1110 {width: 1110px;}
.width1120 {width: 1120px;}
.width1130 {width: 1130px;}
.width1140 {width: 1140px;}
.width1150 {width: 1150px;}
.width1160 {width: 1160px;}
.width1170 {width: 1170px;}
.width1180 {width: 1180px;}
.width1190 {width: 1190px;}
.width1200 {width: 1200px;}
.width1210 {width: 1210px;}
.width1220 {width: 1220px;}
.width1230 {width: 1230px;}
.width1240 {width: 1240px;}
.width1250 {width: 1250px;}
.width1260 {width: 1260px;}
.width1270 {width: 1270px;}
.width1280 {width: 1280px;}
.width1290 {width: 1290px;}
.width1300 {width: 1300px;}
.width1310 {width: 1310px;}
.width1320 {width: 1320px;}
.width1330 {width: 1330px;}
.width1340 {width: 1340px;}
.width1350 {width: 1350px;}
.width1360 {width: 1360px;}
.width1370 {width: 1370px;}
.width1380 {width: 1380px;}
.width1390 {width: 1390px;}
.width1400 {width: 1400px;}
.width1410 {width: 1410px;}
.width1420 {width: 1420px;}
.width1430 {width: 1430px;}
.width1440 {width: 1440px;}
.width1450 {width: 1450px;}
.width1460 {width: 1460px;}
.width1470 {width: 1470px;}
.width1480 {width: 1480px;}
.width1490 {width: 1490px;}
.width1500 {width: 1500px;}

.height0 {height: 0px;}
.height10 {height: 10px;}
.height20 {height: 20px;}
.height30 {height: 30px;}
.height40 {height: 40px;}
.height50 {height: 50px;}
.height60 {height: 60px;}
.height70 {height: 70px;}
.height80 {height: 80px;}
.height90 {height: 90px;}
.height100 {height: 100px;}
.height110 {height: 110px;}
.height120 {height: 120px;}
.height130 {height: 130px;}
.height140 {height: 140px;}
.height150 {height: 150px;}
.height160 {height: 160px;}
.height170 {height: 170px;}
.height180 {height: 180px;}
.height190 {height: 190px;}
.height200 {height: 200px;}
.height210 {height: 210px;}
.height220 {height: 220px;}
.height230 {height: 230px;}
.height240 {height: 240px;}
.height250 {height: 250px;}
.height260 {height: 260px;}
.height270 {height: 270px;}
.height280 {height: 280px;}
.height290 {height: 290px;}
.height300 {height: 300px;}
.height310 {height: 310px;}
.height320 {height: 320px;}
.height330 {height: 330px;}
.height340 {height: 340px;}
.height350 {height: 350px;}
.height360 {height: 360px;}
.height370 {height: 370px;}
.height380 {height: 380px;}
.height390 {height: 390px;}
.height400 {height: 400px;}
.height410 {height: 410px;}
.height420 {height: 420px;}
.height430 {height: 430px;}
.height440 {height: 440px;}
.height450 {height: 450px;}
.height460 {height: 460px;}
.height470 {height: 470px;}
.height480 {height: 480px;}
.height490 {height: 490px;}
.height500 {height: 500px;}
.height510 {height: 510px;}
.height520 {height: 520px;}
.height530 {height: 530px;}
.height540 {height: 540px;}
.height550 {height: 550px;}
.height560 {height: 560px;}
.height570 {height: 570px;}
.height580 {height: 580px;}
.height590 {height: 590px;}
.height600 {height: 600px;}
.height610 {height: 610px;}
.height620 {height: 620px;}
.height630 {height: 630px;}
.height640 {height: 640px;}
.height650 {height: 650px;}
.height660 {height: 660px;}
.height670 {height: 670px;}
.height680 {height: 680px;}
.height690 {height: 690px;}
.height700 {height: 700px;}
.height710 {height: 710px;}
.height720 {height: 720px;}
.height730 {height: 730px;}
.height740 {height: 740px;}
.height750 {height: 750px;}
.height760 {height: 760px;}
.height770 {height: 770px;}
.height780 {height: 780px;}
.height790 {height: 790px;}
.height800 {height: 800px;}
.height810 {height: 810px;}
.height820 {height: 820px;}
.height830 {height: 830px;}
.height840 {height: 840px;}
.height850 {height: 850px;}
.height860 {height: 860px;}
.height870 {height: 870px;}
.height880 {height: 880px;}
.height890 {height: 890px;}
.height900 {height: 900px;}
.height910 {height: 910px;}
.height920 {height: 920px;}
.height930 {height: 930px;}
.height940 {height: 940px;}
.height950 {height: 950px;}
.height960 {height: 960px;}
.height970 {height: 970px;}
.height980 {height: 980px;}
.height990 {height: 990px;}
.height1000 {height: 1000px;}
.height1010 {height: 1010px;}
.height1020 {height: 1020px;}
.height1030 {height: 1030px;}
.height1040 {height: 1040px;}
.height1050 {height: 1050px;}
.height1060 {height: 1060px;}
.height1070 {height: 1070px;}
.height1080 {height: 1080px;}
.height1090 {height: 1090px;}
.height1100 {height: 1100px;}
.height1110 {height: 1110px;}
.height1120 {height: 1120px;}
.height1130 {height: 1130px;}
.height1140 {height: 1140px;}
.height1150 {height: 1150px;}
.height1160 {height: 1160px;}
.height1170 {height: 1170px;}
.height1180 {height: 1180px;}
.height1190 {height: 1190px;}
.height1200 {height: 1200px;}
.height1210 {height: 1210px;}
.height1220 {height: 1220px;}
.height1230 {height: 1230px;}
.height1240 {height: 1240px;}
.height1250 {height: 1250px;}
.height1260 {height: 1260px;}
.height1270 {height: 1270px;}
.height1280 {height: 1280px;}
.height1290 {height: 1290px;}
.height1300 {height: 1300px;}
.height1310 {height: 1310px;}
.height1320 {height: 1320px;}
.height1330 {height: 1330px;}
.height1340 {height: 1340px;}
.height1350 {height: 1350px;}
.height1360 {height: 1360px;}
.height1370 {height: 1370px;}
.height1380 {height: 1380px;}
.height1390 {height: 1390px;}
.height1400 {height: 1400px;}
.height1410 {height: 1410px;}
.height1420 {height: 1420px;}
.height1430 {height: 1430px;}
.height1440 {height: 1440px;}
.height1450 {height: 1450px;}
.height1460 {height: 1460px;}
.height1470 {height: 1470px;}
.height1480 {height: 1480px;}
.height1490 {height: 1490px;}
.height1500 {height: 1500px;}

/* Widths and Heights in percent */
.min_width {width: 1%;}
.width20p {width: 20%;}
.width40p {width: 40%;}
.width50p {width: 50%;}
.width60p {width: 60%;}
.width80p {width: 80%;}
.max_width {width: 100%;}

.min_height {height: 1%;}
.height20p {height: 20%;}
.height40p {height: 40%;}
.height50p {height: 50%;}
.height60p {height: 60%;}
.height80p {height: 80%;}
.max_height {height: 100%;
}
/* Text Decoration */
.underline {text-decoration: underline;}
.overline {text-decoration: overline;}
.blink {text-decoration: blink;}
.line-through {text-decoration: line-through;}
.text-decoration_none {text-decoration: none;}
.text-decoration_inherit {text-decoration: inherit;}

/* Font Styles */
.italic {font-style: italic;}
.normal {font-style: normal;}
.oblique {font-style: oblique;}
.font-style_inherit {font-style: inherit;}

/* Alignement */
.left {text-align: left;}
.center {text-align: center;}
.right {text-align: right;}
.justify {text-align: justify;}

/* White-spaces */
.wrap {white-space: normal;}
.pre {white-space: pre;}
.nowrap {white-space: nowrap;}

/* Text-transform */
.uppercase {text-transform: uppercase;}
.lowercase {text-transform: lowercase;}
.capitalize {text-transform: capitalize;}
.text-transform_none {text-transform: none;}
.text-transform_inherit {text-transform: inherit;}

/* Line-height */
.line-height_double {line-height: 200%;}
.line-height_150 {line-height: 150%;}
.line-height_normal {line-height: normal;}

/* Displays */
.inline {display: inline;}
.display_none {display: none;}
.list-item {display: list-item;}
.block {display: block;}

/* Positions */
.absolute {position: absolute;}
.fixed {position: fixed;}
.relative {position: relative;}
.static {position: static;}
.position_inherit {position: inherit;}

/* Overflows */
.hidden {overflow: hidden;}
.visible {overflow: visible;}
.scroll {overflow: scroll;}
.overflow_auto {overflow: auto;}
.overflow_inherit {overflow: inherit;}

/* text-indent */
.indent5 {text-indent: 5px;}
.indent10 {text-indent: 10px;}
.indent15 {text-indent: 15px;}
.indent20 {text-indent: 20px;}
.indent25 {text-indent: 25px;}
.indent30 {text-indent: 30px;}
.indent35 {text-indent: 35px;}
.indent40 {text-indent: 40px;}

/* Vertical-align */
.baseline {vertical-align: baseline;}
.vAlign_middle {vertical-align: middle;}
.vAlign_text-bottom {vertical-align: text-bottom;}
.vAlign_text-top {vertical-align: text-top;}

/* Outline */
.outline_none {outline: none;}

/*padding and margins from 5px to 100px */
.padding_none {padding: 0;}
.padding_top5 {padding-top: 5px;}
.padding_top10 {padding-top: 10px;}
.padding_top15 {padding-top: 15px;}
.padding_top20 {padding-top: 20px;}
.padding_top25 {padding-top: 25px;}
.padding_top30 {padding-top: 30px;}
.padding_top35 {padding-top: 35px;}
.padding_top40 {padding-top: 40px;}
.padding_top45 {padding-top: 45px;}
.padding_top50 {padding-top: 50px;}
.padding_top55 {padding-top: 55px;}
.padding_top60 {padding-top: 60px;}
.padding_top65 {padding-top: 65px;}
.padding_top70 {padding-top: 70px;}
.padding_top75 {padding-top: 75px;}
.padding_top80 {padding-top: 80px;}
.padding_top85 {padding-top: 85px;}
.padding_top90 {padding-top: 90px;}
.padding_top95 {padding-top: 95px;}
.padding_top100 {padding-top: 100px;}
.padding_right5 {padding-right: 5px;}
.padding_right10 {padding-right: 10px;}
.padding_right15 {padding-right: 15px;}
.padding_right20 {padding-right: 20px;}
.padding_right25 {padding-right: 25px;}
.padding_right30 {padding-right: 30px;}
.padding_right35 {padding-right: 35px;}
.padding_right40 {padding-right: 40px;}
.padding_right45 {padding-right: 45px;}
.padding_right50 {padding-right: 50px;}
.padding_right55 {padding-right: 55px;}
.padding_right60 {padding-right: 60px;}
.padding_right65 {padding-right: 65px;}
.padding_right70 {padding-right: 70px;}
.padding_right75 {padding-right: 75px;}
.padding_right80 {padding-right: 80px;}
.padding_right85 {padding-right: 85px;}
.padding_right90 {padding-right: 90px;}
.padding_right95 {padding-right: 95px;}
.padding_right100 {padding-right: 100px;}
.padding_bottom5 {padding-bottom: 5px;}
.padding_bottom10 {padding-bottom: 10px;}
.padding_bottom15 {padding-bottom: 15px;}
.padding_bottom20 {padding-bottom: 20px;}
.padding_bottom25 {padding-bottom: 25px;}
.padding_bottom30 {padding-bottom: 30px;}
.padding_bottom35 {padding-bottom: 35px;}
.padding_bottom40 {padding-bottom: 40px;}
.padding_bottom45 {padding-bottom: 45px;}
.padding_bottom50 {padding-bottom: 50px;}
.padding_bottom55 {padding-bottom: 55px;}
.padding_bottom60 {padding-bottom: 60px;}
.padding_bottom65 {padding-bottom: 65px;}
.padding_bottom70 {padding-bottom: 70px;}
.padding_bottom75 {padding-bottom: 75px;}
.padding_bottom80 {padding-bottom: 80px;}
.padding_bottom85 {padding-bottom: 85px;}
.padding_bottom90 {padding-bottom: 90px;}
.padding_bottom95 {padding-bottom: 95px;}
.padding_bottom100 {padding-bottom: 100px;}
.padding_left5 {padding-left: 5px;}
.padding_left10 {padding-left: 10px;}
.padding_left15 {padding-left: 15px;}
.padding_left20 {padding-left: 20px;}
.padding_left25 {padding-left: 25px;}
.padding_left30 {padding-left: 30px;}
.padding_left35 {padding-left: 35px;}
.padding_left40 {padding-left: 40px;}
.padding_left45 {padding-left: 45px;}
.padding_left50 {padding-left: 50px;}
.padding_left55 {padding-left: 55px;}
.padding_left60 {padding-left: 60px;}
.padding_left65 {padding-left: 65px;}
.padding_left70 {padding-left: 70px;}
.padding_left75 {padding-left: 75px;}
.padding_left80 {padding-left: 80px;}
.padding_left85 {padding-left: 85px;}
.padding_left90 {padding-left: 90px;}
.padding_left95 {padding-left: 95px;}
.padding_left100 {padding-left: 100px;}
.padding5 {padding: 5px;}
.padding10 {padding: 10px;}
.padding15 {padding: 15px;}
.padding20 {padding: 20px;}
.padding25 {padding: 25px;}
.padding30 {padding: 30px;}
.padding35 {padding: 35px;}
.padding40 {padding: 40px;}
.padding45 {padding: 45px;}
.padding50 {padding: 50px;}
.padding55 {padding: 55px;}
.padding60 {padding: 60px;}
.padding65 {padding: 65px;}
.padding70 {padding: 70px;}
.padding75 {padding: 75px;}
.padding80 {padding: 80px;}
.padding85 {padding: 85px;}
.padding90 {padding: 90px;}
.padding95 {padding: 95px;}
.padding100 {padding: 100px;}

/* margins */
.margin_top5 {margin-top: 5px;}
.margin_top10 {margin-top: 10px;}
.margin_top15 {margin-top: 15px;}
.margin_top20 {margin-top: 20px;}
.margin_top25 {margin-top: 25px;}
.margin_top30 {margin-top: 30px;}
.margin_top35 {margin-top: 35px;}
.margin_top40 {margin-top: 40px;}
.margin_top45 {margin-top: 45px;}
.margin_top50 {margin-top: 50px;}
.margin_top55 {margin-top: 55px;}
.margin_top60 {margin-top: 60px;}
.margin_top65 {margin-top: 65px;}
.margin_top70 {margin-top: 70px;}
.margin_top75 {margin-top: 75px;}
.margin_top80 {margin-top: 80px;}
.margin_top85 {margin-top: 85px;}
.margin_top90 {margin-top: 90px;}
.margin_top95 {margin-top: 95px;}
.margin_top100 {margin-top: 100px;}
.margin_right5 {margin-right: 5px;}
.margin_right10 {margin-right: 10px;}
.margin_right15 {margin-right: 15px;}
.margin_right20 {margin-right: 20px;}
.margin_right25 {margin-right: 25px;}
.margin_right30 {margin-right: 30px;}
.margin_right35 {margin-right: 35px;}
.margin_right40 {margin-right: 40px;}
.margin_right45 {margin-right: 45px;}
.margin_right50 {margin-right: 50px;}
.margin_right55 {margin-right: 55px;}
.margin_right60 {margin-right: 60px;}
.margin_right65 {margin-right: 55px;}
.margin_right70 {margin-right: 70px;}
.margin_right75 {margin-right: 75px;}
.margin_right80 {margin-right: 80px;}
.margin_right85 {margin-right: 85px;}
.margin_right90 {margin-right: 90px;}
.margin_right95 {margin-right: 95px;}
.margin_right100 {margin-right: 100px;}
.margin_bottom5 {margin-bottom: 5px;}
.margin_bottom10 {margin-bottom: 10px;}
.margin_bottom15 {margin-bottom: 15px;}
.margin_bottom20 {margin-bottom: 20px;}
.margin_bottom25 {margin-bottom: 25px;}
.margin_bottom30 {margin-bottom: 30px;}
.margin_bottom35 {margin-bottom: 35px;}
.margin_bottom40 {margin-bottom: 40px;}
.margin_bottom45 {margin-bottom: 45px;}
.margin_bottom25 {margin-bottom: 50px;}
.margin_bottom55 {margin-bottom: 55px;}
.margin_bottom60 {margin-bottom: 60px;}
.margin_bottom65 {margin-bottom: 65px;}
.margin_bottom70 {margin-bottom: 70px;}
.margin_bottom75 {margin-bottom: 75px;}
.margin_bottom80 {margin-bottom: 80px;}
.margin_bottom85 {margin-bottom: 85px;}
.margin_bottom90 {margin-bottom: 90px;}
.margin_bottom95 {margin-bottom: 95px;}
.margin_bottom100 {margin-bottom: 100px;}
.margin_left5 {margin-left: 5px;}
.margin_left10 {margin-left: 10px;}
.margin_left15 {margin-left: 15px;}
.margin_left20 {margin-left: 20px;}
.margin_left25 {margin-left: 25px;}
.margin_left30 {margin-left: 30px;}
.margin_left35 {margin-left: 35px;}
.margin_left40 {margin-left: 40px;}
.margin_left45 {margin-left: 45px;}
.margin_left50 {margin-left: 50px;}
.margin_left55 {margin-left: 55px;}
.margin_left60 {margin-left: 60px;}
.margin_left65 {margin-left: 65px;}
.margin_left70 {margin-left: 70px;}
.margin_left75 {margin-left: 75px;}
.margin_left80 {margin-left: 80px;}
.margin_left85 {margin-left: 85px;}
.margin_left90 {margin-left: 90px;}
.margin_left95 {margin-left: 95px;}
.margin_left100 {margin-left: 100px;}
.margin5 {margin:5px;}
.margin10 {margin:10px;}
.margin15 {margin:15px;}
.margin20 {margin:20px;}
.margin25 {margin:25px;}
.margin30 {margin:30px;}
.margin35 {margin:35px;}
.margin40 {margin:40px;}
.margin45 {margin:45px;}
.margin50 {margin:50px;}
.margin55 {margin:55px;}
.margin60 {margin:60px;}
.margin65 {margin:65px;}
.margin70 {margin:70px;}
.margin75 {margin:75px;}
.margin80 {margin:80px;}
.margin85 {margin:85px;}
.margin90 {margin:90px;}
.margin95 {margin:95px;}
.margin100 {margin:100px;}
.margin_none {margin: 0;}
.margin_auto {margin:auto;}
.margin_left_auto {margin-left:auto;}
.margin_right_auto {margin-right:auto;}
.margin_side_auto {margin-left:auto; margin-right:auto;}

/* Fonts */
.arial {font-family: Arial, Helvetica, sans-serif;}
.verdana {font-family: Verdana;}
.comic {font-family: "Comic Sans MS";}
.arialBlack {font-family: "Arial Black";}
.courier {font-family: "Courier New";}
.lucida {font-family: "Lucida Sans";}
.timesNewRoman {font-family: "Times New Roman";}
.fontNormal {font-weight: normal;}
.bold {font-weight: bold;}
.fontBold {font-weight: bold;}
.bolder {font-weight: bolder;}
.fontBolder {font-weight: bolder;}
.lighter {font-weight: lighter;}
.fontLighter {font-weight: lighter;}
.font100 {font-weight: 100;}
.font200 {font-weight: 200;}
.font300 {font-weight: 300;}
.font400 {font-weight: 400;}
.font500 {font-weight: 500;}
.font600 {font-weight: 600;}
.font700 {font-weight: 700;}
.font800 {font-weight: 800;}
.font900 {font-weight: 900;}
.fontSpace5 {letter-spacing: 5px;}
.fontSpace6 {letter-spacing: 6px;}
.fontSpace7 {letter-spacing: 7px;}
.fontSpace8 {letter-spacing: 8px;}
.fontSpace9 {letter-spacing: 9px;}
.fontSpace10 {letter-spacing: 10px;}
.fontSpace11 {letter-spacing: 11px;}
.fontSpace12 {letter-spacing: 12px;}
.fontSpace13 {letter-spacing: 13px;}
.fontSpace14 {letter-spacing: 14px;}
.fontSpace15 {letter-spacing: 15px;}
.fontSpace16 {letter-spacing: 16px;}
.fontSpace17 {letter-spacing: 17px;}
.fontSpace18 {letter-spacing: 18px;}
.fontSpace19 {letter-spacing: 19px;}
.fontSpace20 {letter-spacing: 20px;}
.fontSpace_05 {letter-spacing: -0.5px;}
.fontSpace_1 {letter-spacing: -1px;}

/* List style type */
.listDic {list-style-type: disc;}
.listCircle {list-style-type: circle;}
.listSquare {list-style-type: square;}
.listDecimal {list-style-type: decimal;}
.listDecimalLeading0 {list-style-type: decimal-leading-zero;}
.listLowerRoman {list-style-type: lower-roman;}
.listUpperRoman {list-style-type: upper-roman;}
.listLowerAlpha {list-style-type: lower-alpha;}
.listUpperAlpha {list-style-type: upper-alpha;}
.listLowerGreek {list-style-type: lower-greek;}
.listLowerLatin {list-style-type: lower-latin;}
.listUpperLatin {list-style-type: upper-latin;}
.listHebrew {list-style-type: hebrew;}
.listArmenian {list-style-type: armenian;}
.listGeorgian {list-style-type: georgian;}
.listCjkIdeographic {list-style-type: cjk-ideographic;}
.listHiragana {list-style-type: hiragana;}
.listKatakana {list-style-type: katakana;}
.listHiraganaIroha {list-style-type: hiragana-iroha;}
.listKatakanaIroha {list-style-type: katakana-iroha;}

/* Mouse cursors */
.cursorCrosshair {cursor: crosshair;}
.cursorPointer {cursor: pointer;}
.cursorMove {cursor: move;}
.cursorEResize {cursor: e-resize;}
.cursorNEResize {cursor: ne-resize;}
.cursorNWResize {cursor: nw-resize;}
.cursorNResize {cursor: n-resize;}
.cursorSEResize {cursor: se-resize;}
.cursorSWResize {cursor: sw-resize;}
.cursorSResize {cursor: s-resize;}
.cursorWResize {cursor: w-resize;}
.cursorText {cursor: text;}
.cursorWait {cursor: wait;}
.cursorHelp {cursor: help;}

/* Visibility */
.visibilityHidden {visibility: hidden;}
.visibilityCollapse {visibility: collapse;}
.visibilityInherit {visibility: inherit;}
.visibilityVisible {visibility: visible;}

/*********************************** Customs Classes *******************************/


/***** BORDERS*******/
.borderSolidThinBlack {border-style: solid; border-width: thin; border-color: black;}
.borderSolidThinRed {border-style: solid; border-width: thin; border-color: red;}
.borderSolidThinGray {border-style: solid; border-width: thin; border-color: #666666;}
.borderSolidThinBlue {border-style: solid; border-width: thin; border-color: blue;}
.borderSolidThinOrange {border-style: solid; border-width: thin; border-color: orange;}
.borderSolidMediumBlack {border-style: solid; border-width: medium; border-color: black;}
.borderSolidMediumRed {border-style: solid; border-width: medium; border-color: red;}
.borderSolidMediumGrey {border-style: solid; border-width: medium; border-color: #666666;}
.borderSolidThickOrange {border-style: solid; border-width: thick; border-color: orange;}
.borderSolidThickBlack {border-style: solid; border-width: thick; border-color: black;}
.borderSolidThickRed {border-style: solid; border-width: thick; border-color: red;}
.borderSolidThickGrey {border-style: solid; border-width: thick; border-color: grey;}
.borderGrooveThinBlack {border-style: groove; border-width: thin; border-color: black;}
.borderGrooveThinRed {border-style: groove; border-width: thin; border-color: red;}
.borderGrooveThinGrey {border-style: groove; border-width: thin; border-color: #666666;}
.borderGrooveMediumBlack {border-style: groove; border-width: medium; border-color: black;}
.borderGrooveMediumRed {border-style: groove; border-width: medium; border-color: red;}
.borderGrooveMediumGrey {border-style: groove; border-width: medium; border-color: #666666;}
.borderGrooveThickBlack {border-style: groove; border-width: thick; border-color: black;}
.borderGrooveThickRed {border-style: groove; border-width: thick; border-color: red;}
.borderGrooveThickGrey {border-style: groove; border-width: thick; border-color: #666666;}
.borderDottedThinBlack {border-style: dotted; border-width: thin; border-color: black;}
.borderDottedThinRed {border-style: dotted; border-width: thin; border-color: red;}
.borderDottedThinGrey {border-style: dotted; border-width: thin; border-color: #666666;}
.borderDottedMediumBlack {border-style: dotted; border-width: medium; border-color: black;}
.borderDottedMediumRed {border-style: dotted; border-width: medium; border-color: red;}
.borderDottedMediumGrey {border-style: dotted; border-width: medium; border-color: #666666;}
.borderDottedThickBlack {border-style: dotted; border-width: thick; border-color: black;}
.borderDottedThickRed {border-style: dotted; border-width: thick; border-color: red;}
.borderDottedThickGrey {border-style: dotted; border-width: thick; border-color: #666666;}
.borderDashedThinBlack {border-style: dashed; border-width: thin; border-color: black;}
.borderDashedThinRed {border-style: dashed; border-width: thin; border-color: red;}
.borderDashedThinGrey {border-style: dashed; border-width: thin; border-color: #666666;}
.borderDashedMediumBlack {border-style: dashed; border-width: medium; border-color: black;}
.borderDashedMediumRed {border-style: dashed; border-width: medium; border-color: red;}
.borderDashedMediumGrey {border-style: dashed; border-width: medium; border-color: #666666;}
.borderDashedThickBlack {border-style: dashed; border-width: thick; border-color: black;}
.borderDashedThickRed {border-style: dashed; border-width: thick; border-color: red;}
.borderDashedThickGrey {border-style: dashed; border-width: thick; border-color: #666666;}
.borderDoubleThinBlack {border-style: double; border-width: thin; border-color: black;}
.borderDoubleThinRed {border-style: double; border-width: thin; border-color: red;}
.borderDoubleThinGrey {border-style: double; border-width: thin; border-color: #666666;}
.borderDoubleMediumBlack {border-style: double; border-width: medium; border-color: black;}
.borderDoubleMediumRed {border-style: double; border-width: medium; border-color: red;}
.borderDoubleMediumGrey {border-style: double; border-width: medium; border-color: #666666;}
.borderDoubleThickBlack {border-style: double; border-width: thick; border-color: black;}
.borderDoubleThickRed {border-style: double; border-width: thick; border-color: red;}
.borderDoubleThickGrey {border-style: double; border-width: thick; border-color: #666666;}
.borderRidgeThinBlack {border-style: ridge; border-width: thin; border-color: black;}
.borderRidgeThinRed {border-style: ridge; border-width: thin; border-color: red;}
.borderRidgeThinGrey {border-style: ridge; border-width: thin; border-color: #666666;}
.borderRidgeMediumBlack {border-style: ridge; border-width: medium; border-color: black;}
.borderRidgeMediumRed {border-style: ridge; border-width: medium; border-color: red;}
.borderRidgeMediumGrey {border-style: ridge; border-width: medium; border-color: #666666;}
.borderRidgeThickBlack {border-style: ridge; border-width: thick; border-color: black;}
.borderRidgeThickRed {border-style: ridge; border-width: thick; border-color: red;}
.borderRidgeThickGrey {border-style: ridge; border-width: thick; border-color: #666666;}
.borderInsetThinBlack {border-style: inset; border-width: thin; border-color: black;}
.borderInsetThinRed {border-style: inset; border-width: thin; border-color: red;}
.borderInsetThinGrey {border-style: inset; border-width: thin; border-color: #666666;}
.borderInsetMediumBlack {border-style: inset; border-width: medium; border-color: black;}
.borderInsetMediumRed {border-style: inset; border-width: medium; border-color: red;}
.borderInsetMediumGrey {border-style: inset; border-width: medium; border-color: #666666;}
.borderInsetThickBlack {border-style: inset; border-width: thick; border-color: black;}
.borderInsetThickRed {border-style: inset; border-width: thick; border-color: red;}
.borderInsetThickGrey {border-style: inset; border-width: thick; border-color: #666666;}
.borderOutsetThinBlack {border-style: outset; border-width: thin; border-color: black;}
.borderOutsetThinRed {border-style: outset; border-width: thin; border-color: red;}
.borderOutsetThinGrey {border-style: outset; border-width: thin; border-color: #666666;}
.borderOutsetMediumBlack {border-style: outset; border-width: medium; border-color: black;}
.borderOutsetMediumRed {border-style: outset; border-width: medium; border-color: red;}
.borderOutsetMediumGrey {border-style: outset; border-width: medium; border-color: #666666;}
.borderOutsetThickBlack {border-style: outset; border-width: thick; border-color: black;}
.borderOutsetThickRed {border-style: outset; border-width: thick; border-color: red;}
.borderOutsetThickGrey {border-style: outset; border-width: thick; border-color: #666666;}
.border_none {border: none;}

/**** END BORDERS *********/