@import "compass/utilities/sprites";

$sprite-default-size: 16px;
$sprite-image-default-width: 16px;

@mixin icons {
    @include sprite-background('icons-16x16.png');
}

.maj-editing-container {
    > .message {
        font-weight: bold;
        &.success {
            @include icons;
            @include sprite-column(4);
            width: auto;
            height: auto;
            color: green;
            padding: 0 0 0 $sprite-default-size + 5;
        }
        &.loading {
            background: inline-image('ajax-loader.gif');
            width: 200px;
            height: 19px;
        }
    }
    > .text-wrapper {
        min-height: 20px;
        > .text {
            &.being-edited, &.editable {
                border: 2px dashed black;
                padding: 0 5px;
                margin: 5px 0;
            }
        }
        > .panel {
            display: none;
            @include icons;
            .edit {
                @include sprite-column(1);
            }
            a {
                width:  $sprite-default-size;
                height: $sprite-default-size;
                display: block;
            }
        }
    }
    > .editor {
        display: none;
        table.group tr { //align buttons
            float: left;
        }
        input[type=submit], input[type=reset] {
            @include icons;
            border: none;
            text-indent: -999px; //hide text
            cursor: pointer;
            outline: none;
            &.save {
                @include sprite-column(2);
            }
            &.cancel {
                @include sprite-column(3);
            }
        }
    }
}

