
div.editable {
	position:relative;
}
div.editable .button {
	position: absolute;
	height: 17px;
	cursor: pointer;
}
div.editable .button img {
	padding: 0xp;
	margin: 0px;
}
div.editable .editLink {
	top: -18px;
	left: 4px;
	border: 1px dashed #1A1AF3;
}
div.editable .delLink {
	top: -18px;
	left: 27px;
	border: 1px dashed red;
}
div.inPlaceEditor {
	border: 1px outset;
	background-color: #EEEEEE;
	padding: 2px;
}
.editSourceContainer {
	position: relative;
	border: 3px dashed blue;
}

div.inPlaceEditor .status {
	position:absolute;
	top:4px;
	left:24px;
	background-color:#ffdf80;
	border: 1px solid black;
	padding: 2px 8px;
}
