/*****************
* 	Admin Navs
*****************/
.admin-nav-wrapper { width: 300px; margin: 0 auto 20px auto; text-align: center; }
.admin-nav-wrapper li a.selected { color: black; }
ul.admin-primary-navigation { margin: 5px 20px; }
ul.admin-secondary-navigation li { float: left; padding: 0 30px 0 0; }

/* content stretch */
.container .content { width: 930px; }
.container .content .content-bg { width: 900px; }

ul.flash-messages-wrapper { list-style: none; }
