@import "site.css";
@import "blocks.css";

/* reseting all margin padding for browser compatibility */
* { margin: 0; padding: 0; }

/***************
*	Generics
****************/

body { margin: 5px 0; }

a, a:active { color: #3c58a3; }

ul { list-style: url('../images/common/li.gif'); margin: 10px 0 10px 20px; }

li { margin: 5px 0; }

p { margin: 10px 0; }

h1, h2, h3, h4, h5, h6 { 
	margin: 10px 0; 
	padding: 0 5px 0 20px; 
	background: url('../images/common/h-delimiter.gif') no-repeat; 
	color: #2d67b2;
	border-bottom: 1px solid #9dabd1;
}

a.selected { color: black; text-decoration: none; }

/***************
*	Template
****************/
hr { color:#9dabd1; }

body { font-size: 14px; font-family: Verdana; }

.container {
	width: 960px;
	min-height: 600px;
	height: auto !important;
	height: 600px;
	margin: 0 auto 0 auto;
	border: 1px solid black;
}

.container .header {
	background: url('../images/common/header/bg.jpg') no-repeat;
	height: 225px;
	color: white;
}

.header .logo-map {
	width: 200px;
	height: 141px;
	position: absolute;
	left: 190px;
	top: 70px;
	outline: none;
}

.container .water-bg { background: transparent url('../images/common/body/water.png') 10px 0px no-repeat; }
.container .butterfly { background: transparent url('../images/common/body/butterfly.png') 660px 0px no-repeat; }
.container .health-bg { background: transparent url('../images/common/body/health.png') 560px 0px no-repeat; }
.container .butterfly-bg { background: transparent url('../images/common/body/bg.png') bottom right no-repeat; }

.container .content {
	padding: 20px 25px 20px 10px;
	margin: 35px 0 0 10px;
	width: 590px;
	min-height: 700px;
	height: auto !important; /* FF and others */
	height: 700px; /* IE 6 */
	float: left;
	border-left: 3px solid #9faad2;
} 

.container .content-bg {
	float: left;
	width: 590px;
	min-height: 150px;
	height: auto !important; /* FF and others */
	height: 150px; /* ie6 */
	background: url('../images/common/body/content-bg.png');
	border: 1px solid #1e9eff;
	\-moz-border-radius: 5px;
	\-webkit-border-radius: 5px;
	padding: 10px;
}

.container .footer { text-align: right; color: #ff9507; padding: 0 30px 0 0; font-size: 80%; }

/************************
 * 	Navigation commons
 ************************/
ul.nav li a.selected {
	background: url('../images/common/navigation/a-selected.gif') repeat-x;
	color: white; 
	font-weight: normal;
	padding: 4px;
}

ul.nav li { float: left; display: inline; /* ie 6 */ }

/************************
 * 	Primary navigation
 ************************/
ul.primary-navigation { float: right; margin: 0 60px 0 0; display: inline; /* ie6 */ }
ul.primary-navigation li { 
	background: url('../images/common/navigation/li.gif') no-repeat; 
	padding: 95px 4px 4px 12px; 
}

/************************
 * 	Secondary navigation
 ************************/
ul.secondary-navigation { height: 75px; margin: 20px 0 0 320px; }
ul.secondary-navigation li { padding: 25px 0 0 90px; margin: 0 0 0 5px; height: 60px; }
ul.secondary-navigation li.first { background: url('../images/common/header/therapist-hand.png') no-repeat; }
ul.secondary-navigation li.second { 
	background: url('../images/common/navigation/formation.jpg') no-repeat;
	margin: 0 0 0 60px;
	padding-left: 120px;
}

/************************
 * 	Optional navigation
 ************************/
.container .optional-navigation {
	width: 200px;
	float: left;
	margin: 70px 0 0 100px;
	display: inline; /* ie 6 */
	background: url('../images/common/body/content-bg.png');
	border: 1px solid #1e9eff;
	\-moz-border-radius: 5px;
	\-webkit-border-radius: 5px;
	padding: 5px;
}