table { width: 100%; }
table tr.highlighted { background: green; }
table.login td { border-color: transparent; }
table td.first { font-weight: bold; }

/*********************
* About - treated problems
*********************/
.treated-problems ul { width: 200px; float: left; }
.treated-problems .others { text-align: right; padding: 0 180px 0 0; }

/*********************
*		Contact
*********************/
.contact { font-weight: bold; }
.contact h4 { background: none; color: #289eff; padding: 0; text-indent: 0; }
.contact .contact-formation { margin-left: 100px; }
