@CHARSET "ISO-8859-1";

body {
    background-color: #DDDDDD;
    font-family: Verdana;
    font-size: 14px;
    text-align: center;
    height: 100%;
    width: 977px;
    padding: 0 0 0 0;
    margin: 10px auto 10px auto;
}

/************************
*         Template
*************************/
.container {
    background-color: #DDEEFF;
    border-width: 2px 2px 2px 2px; 
    border-style: solid; 
    border-color: #336699; 
    text-align: left;
    width: 977px;
    margin: 0 auto 0 auto;
}

.container .banner {
    background-color: #336699;
    color: white;
    vertical-align: top;
    height: 130px;
    width: 100%;
    margin: 0 0 0 0;
}

.banner .header {
    padding: 10px;    
}

.container .content {
    min-height: 200px;
    height: auto !important; /* FF and others */
    height: 200px; /* IE 6 */
    padding: 10px;
}

.container .footer {
    clear: both;
    padding: 5px;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}
