/* color palette */
.red        {color: red;}
.green      {color: green;}
.blue       {color: blue;}
.brown      {color: #663333;}
.black      {color: black;}
.pink       {color: #CC3366;}
.orange     {color: #CC6633;}
.aqua       {color: aqua;}
.fuchsia    {color: fuchsia;}
.gray       {color: gray;}
.lime       {color: lime;}
.maroon     {color: maroon;}
.navy       {color: navy;}
.olive      {color: olive;}
.purple     {color: purple;}
.silver     {color: silver;}
.teal       {color: teal;}
.white      {color: white;}
.yellow     {color: yellow;}

/* font-sizes */
.xx-small   {font-size: xx-small;}
.x-small    {font-size: x-small;}
.small      {font-size: small;}
.smaller    {font-size: smaller;}
.medium     {font-size: medium;}
.large      {font-size: large;}
.larger     {font-size: larger;}

/* floating */
.float-left  {float: left;}
.float-right {float: right;}
.float-none  {float: none;}
.clear-left  {clear: left;}
.clear-right {clear: right;}
.clear-both  {clear: both;}

/* text-decoration */
.blink                  {text-decoration: blink;}
.overline               {text-decoration: overline;}
.line-through           {text-decoration: line-through;}
.text-decoration-none   {text-decoration: none;}
.underline              {text-decoration: underline;}

/* alignement */
.left       {text-align: left;}
.center     {text-align: center;}
.right      {text-align: right;}
.justify    {text-align: justify;}

/* white-space */
.wrap   {white-space: normal;}
.pre    {white-space: pre;}
.nowrap {white-space: nowrap;}

/* text-transform */
.uppercase              {text-transform: uppercase;}
.lowercase              {text-transform: lowercase;}
.capitalize             {text-transform: capitalize;}
.text-transform-none    {text-transform: none;}

/* line height */
.line-height-normal {line-height: normal;}

/* display */
.inline         {display: inline;}
.list-item      {display: list-item;}
.block          {display: block;}
.display-none   {display: none;}

/* position */
.absolute   {position: absolute;}
.fixed      {position: fixed;}
.relative   {position: relative;}
.static     {position: static;}

/* Overflows */
.hidden         {overflow: hidden;}
.visible        {overflow: visible;}
.scroll         {overflow: scroll;}
.overflow-auto  {overflow: auto;}

/* vertical-align */
.v-baseline    {vertical-align: baseline;}
.v-middle      {vertical-align: middle;}
.v-textBottom  {vertical-align: text-bottom;}
.v-textTop     {vertical-align: text-top;}

/* outline */
.outline-none {outline: none;}

/* margin */
.margin-none        {margin: 0;}
.margin-auto        {margin: auto;}
.margin-left-auto   {margin-left: auto;}
.margin-right-auto  {margin-right: auto;}
.margin-sides-auto  {margin-left: auto; margin-right: auto;}

/* padding */
.padding-none       {padding: 0;}

/* font-family */
.arial              {font-family: Arial;}
.verdana            {font-family: Verdana;}
.comic-sans-ms      {font-family: "Comic Sans MS";}
.arialblack         {font-family: "Arial Black";}
.courier-new        {font-family: "Courier New";}
.lucida-sans        {font-family: "Lucida Sans";}
.times-new-roman    {font-family: "Times New Roman";}

/* font-weight */
.normal     {font-weight: normal;}
.bold       {font-weight: bold;}
.bolder     {font-weight: bolder;}
.lighter    {font-weight: lighter;}

/* font-style */
.oblique    {font-style: oblique;}
.italic     {font-style: italic;}

/* list-style-type */
.list-disc                  {list-style-type: disc;}
.list-circle                {list-style-type: circle;}
.list-square                {list-style-type: square;}
.list-decimal               {list-style-type: decimal;}
.list-decimal-leading-zero  {list-style-type: decimal-leading-zero;}
.list-lower-roman           {list-style-type: lower-roman;}
.list-upper-roman           {list-style-type: upper-roman;}
.list-lower-alpha           {list-style-type: lower-alpha;}
.list-upper-alpha           {list-style-type: upper-alpha;}
.list-lower-greek           {list-style-type: lower-greek;}
.list-lower-latin           {list-style-type: lower-latin;}
.list-upper-latin           {list-style-type: upper-latin;}
.list-armenian              {list-style-type: armenian;}
.list-georgian              {list-style-type: georgian;}

/* mouse cursor */
.cursor-crosshair   {cursor: crosshair;}
.cursor-pointer     {cursor: pointer;}
.cursor-move        {cursor: move;}
.cursor-eResize     {cursor: e-resize;}
.cursor-neResize    {cursor: ne-resize;}
.cursor-nwResize    {cursor: nw-resize;}
.cursor-nResize     {cursor: n-resize;}
.cursor-seResize    {cursor: se-resize;}
.cursor-swResize    {cursor: sw-resize;}
.cursor-sResize     {cursor: s-resize;}
.cursor-wResize     {cursor: w-resize;}
.cursor-text        {cursor: text;}
.cursor-wait        {cursor: wait;}
.cursor-help        {cursor: help;}

/* visibility */
.visibility-hidden      {visibility: hidden;}
.visibility-collapse    {visibility: collapse;}
.visibility-visible     {visibility: visible;}

/* borders */
.border-none {border: none;}
