//TODO: convert images into a sprite
.majistix-editing-content-container:Hover {
    input[type=submit] {
        display: inline;
    }
}

.majistix-editing-form input[type=submit] {
    border: none;
    width:  16px;
    height: 16px;
    /* remove text */
    text-indent: -999px; 
    cursor: pointer;
}
.majistix-editing-submit-edit {
    background: inline-image("pencil.png");
    display: none;
}

.majistix-editing-submit-save {
    background: inline-image("save.png");
}

.majistix-editing-submit-cancel {
    background: inline-image("cancel.png");
}
