/* headers */
/* line 4, ../../majisti/scss/themes/_default.scss */
h1 {
  font-size: 200%;
  padding: 0px;
  margin: 0px;
}

/* line 5, ../../majisti/scss/themes/_default.scss */
h2 {
  font-size: 185%;
  padding: 0px;
  margin: 0px;
}

/* line 6, ../../majisti/scss/themes/_default.scss */
h3 {
  font-size: 160%;
  padding: 0px;
  margin: 0px;
}

/* line 7, ../../majisti/scss/themes/_default.scss */
h4 {
  font-size: 145%;
  padding: 0px;
  margin: 0px;
}

/* line 8, ../../majisti/scss/themes/_default.scss */
h5 {
  font-size: 130%;
  padding: 0px;
  margin: 0px;
}

/* line 9, ../../majisti/scss/themes/_default.scss */
h6 {
  font-size: 120%;
  padding: 0px;
  margin: 0px;
}

/* img */
/* line 12, ../../majisti/scss/themes/_default.scss */
img {
  border: none;
  padding: 0px;
  margin: 0px;
}

/* hyperlinks */
/* line 15, ../../majisti/scss/themes/_default.scss */
a {
  color: #006699;
  font-weight: bold;
  text-decoration: none;
}

/* line 16, ../../majisti/scss/themes/_default.scss */
a:hover {
  color: #FF9900;
  text-decoration: underline;
}

/* line 18, ../../majisti/scss/themes/_default.scss */
#container {
  width: 1000px;
  min-height: 600px;
  height: auto !important;
  height: 600px;
  margin: 0 auto 0 auto;
  border: 1px solid black;
}

/* line 27, ../../majisti/scss/themes/_default.scss */
#header {
  background: url('../../images/../majisti/images/themes/default/banner.jpg?1294707465') no-repeat black;
  color: white;
  min-height: 150px;
  height: auto;
}

/* line 34, ../../majisti/scss/themes/_default.scss */
#content {
  min-height: 500px;
  height: auto;
  padding: 10px;
}

/* line 40, ../../majisti/scss/themes/_default.scss */
#footer {
  text-align: center;
}
