<?xml version="1.0" encoding="UTF-8"?>
<chapter 
    xmlns="http://docbook.org/ns/docbook" 
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:xi="http://www.w3.org/2001/XInclude" 
    xml:lang="en" xml:id="majisti.config" version="5.0">
    
    <title>Majisti\Config</title>
    
    <section 
        xmlns="http://docbook.org/ns/docbook" 
        xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns:xi="http://www.w3.org/2001/XInclude" 
        xml:lang="en" xml:id="majisti.config.introduction" version="5.0">
        
        <title>Introduction</title>
    
        <para> Majisti\Config is the central point to configuration management.
            This is where configuration handlers are found along with selectors
            and wrapper objects. This section describres the multiples handlers,
            the CSS-like config query selector and the Configuration
            object.</para>
    </section>
    
    <xi:include href="config/handlers.xml" />
    <xi:include href="config/selector.xml" />
    <xi:include href="config/configuration.xml" />
</chapter>