<?xml version="1.0" encoding="ISO-8859-1"?>

<configdata>
	<properties>
		<property name="baseUrl" data="/Majisti_Project_Template/public" />
	</properties>
	
    <development>
    	<links>
    		<site value="${baseUrl}" />
    	</links>
    	
    	<projectName value="Anatotherapie" />
    	
    	<baseUrl value="${baseUrl}" />
    	
        <database use="1">
            <params>
               	<host>ebb.no-ip.ca</host>
                <username>ebb</username>
                <password>ebb2009</password>
                <dbname>websites</dbname>
            </params>
        </database>
		
        <i18n>
        	<default abbreviate="fr" full="Français" />
        </i18n>
		
		<plugins></plugins>
		
		<plugins namespace="Anato_Controller_Plugin">
			<plugin name="All" enabled="1" script="application/common/plugins/All.php">
				<allow subject="default" />
				<allow subject="admin" />
			</plugin>
			<plugin name="Admin" enabled="1" script="application/common/plugins/Admin.php">
				<allow subject="admin" />
			</plugin>
		</plugins>
		
		<session value="Anatotherapie" />
		<admin>
			<login>admin</login>
			<password>test</password>
		</admin>
    </development>
    
    <local extends="development">
    	<database>
            <params>
                <host>localhost</host>
                <username>root</username>
                <password></password>
                <dbname>websites</dbname>
            </params>
        </database>
    </local>
	
	<test extends="development">
		<links autoDetectHost="0">
			<library value="http://static.ebb.com" />
		</links>
		
		<!--
		<database use="1">
            <params>
               	<host>db722.perfora.net</host>
                <username>dbo278043791</username>
                <password>7XDurQes</password>
                <dbname>db278043791</dbname>
            </params>
        </database>
		-->
		
		<admin>
			<login>admin</login>
			<password>anato2009#</password>
		</admin>
	</test>
    
    <production extends="development">
       <database use="1">
            <params>
               	<host>db722.perfora.net</host>
                <username>dbo278043791</username>
                <password>7XDurQes</password>
                <dbname>db278043791</dbname>
            </params>
        </database>
        
        <debug>
    		<logical value="0" />
    		<output value="0" />
    		<error_reporting value="0" />
    	</debug>
		
		<admin>
			<login>admin</login>
			<password>anato2009#</password>
		</admin>
    	
    	<ini_set>
    		<display_startup_errors value="0" />
    		<display_errors value="0" />
    	</ini_set>
    </production>
</configdata>